In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle# For the bounding box
import matplotlib.image as image
from scipy.stats import describe

Here are the csv files of the individual experiments:

-  'df_insightface_stats.csv': InsightFace analysis results
-  'df_audit_age_gender_dex.csv': Dex analysis results from teh audit paper
-  'df_nsfw.csv': NSFW analysis
-  'df_acc_classwise_resnet50.csv': Classwise acc and preds using the ResNet50 model
-  'df_acc_classwise_NasNet_mobile.csv': Classwise acc and preds using the NasNetMobile model
-  'df_imagenet_names_umap.csv': UMAP_2D (Glove-300D (Imagenet class labels))
-  'df_census_columns_interpretation.csv' : Interpretations of what the 61 output columns stand for.

May sure they all reside in a dir titled: *./df_imagenet*

The output is a datfarme with the 61 parameters across the 1000 classes:
 *df_census_imagenet_61.csv*

In [2]:
list_csv_constituents=['df_insightface_stats.csv',
'df_audit_age_gender_dex.csv',
'df_nsfw.csv',
'df_acc_classwise_resnet50.csv',
'df_acc_classwise_NasNet_mobile.csv',
'df_imagenet_names_umap.csv']

In [3]:
for f in list_csv_constituents:
    df=pd.read_csv('./df_imagenet/'+f)
    print(f)
    print(df.shape)
    print(list(df.columns))
    print('------')

df_insightface_stats.csv
(1000, 30)
['class_number', 'wordnet_id', 'label', 'uri', 'n_train', 'n_val', 'n_humans_train', 'n_humans_val', 'Nunique_humans_train', 'gender_skewness_train', 'age_min_train', 'age_max_train', 'n_women_train', 'mean_age_women_train', 'std_age_women_train', 'n_men_train', 'mean_age_men_train', 'std_age_men_train', 'age_min_val', 'age_max_val', 'Nunique_humans_val', 'gender_skewness_val', 'n_women_val', 'mean_age_women_val', 'std_age_women_val', 'n_men_val', 'mean_age_men_val', 'std_age_men_val', 'age_min', 'age_max']
------
df_audit_age_gender_dex.csv
(1000, 12)
['wordnet_id', 'n_faces_raw_audit', 'n_faceswithages_audit', 'n_train_audit', 'mean_age_audit', 'std_age_audit', 'skew_age_audit', 'n_faceswithages_audit_2', 'n_train_audit_2', 'mean_gender_audit', 'std_gender_audit', 'skew_gender_audit']
------
df_nsfw.csv
(1000, 5)
['Unnamed: 0', 'mean_nsfw_train', 'mean_nsfw_val', 'std_nsfw_train', 'std_nsfw_val']
------
df_acc_classwise_resnet50.csv
(1000, 7)
['Unnamed: 0', 'mean_top1_train', 'mean_top1_val', 'mean_top5_train', 'mean_top5_val', 'pred_train', 'pred_val']
------
df_acc_classwise_NasNet_mobile.csv
(1000, 7)
['Unnamed: 0', 'mean_top1_train', 'mean_top1_val', 'mean_top5_train', 'mean_top5_val', 'pred_train', 'pred_val']
------
df_imagenet_names_umap.csv
(1000, 5)
['class_number', 'wordnet_id', 'label', 'umap_x', 'umap_y']
------

# Read in all the CSVs:

In [4]:
df_inisghtface=pd.read_csv('./df_imagenet/df_insightface_stats.csv')
df_dex=pd.read_csv('./df_imagenet/df_audit_age_gender_dex.csv')
df_nsfw=pd.read_csv('./df_imagenet/df_nsfw.csv')
df_acc_1=pd.read_csv('./df_imagenet/df_acc_classwise_resnet50.csv')
df_acc_2=pd.read_csv('./df_imagenet/df_acc_classwise_NasNet_mobile.csv')
df_umap=pd.read_csv('./df_imagenet/df_imagenet_names_umap.csv')

In [5]:
df_dex.head()

,wordnet_id,n_faces_raw_audit,n_faceswithages_audit,n_train_audit,mean_age_audit,std_age_audit,skew_age_audit,n_faceswithages_audit_2,n_train_audit_2,mean_gender_audit,std_gender_audit,skew_gender_audit
0,n01440764,2824,789,1300,35.576593,13.375839,0.096840,789,1300,0.911870,0.241729,-2.977989
1,n01443537,3307,10,1300,29.425552,15.690300,0.962499,10,1300,0.573201,0.364169,-0.208323
2,n01484850,1389,15,1300,32.616980,7.514876,1.136183,15,1300,0.769053,0.362072,-1.302524
3,n01491361,1817,8,1300,30.716930,5.821958,1.202171,8,1300,0.868673,0.348788,-2.265738
4,n01494475,1846,27,1300,29.862275,7.151390,-1.171221,27,1300,0.867867,0.298537,-2.346808

In [6]:
# col_retain_dex=['wordnet_id',
#  'n_faces_raw_audit',
#  'n_faceswithages_audit',
#  'mean_age_audit',
#  'std_age_audit',
#  'skew_age_audit',
#  'mean_gender_audit',
#  'std_gender_audit',
#  'skew_gender_audit']
# df_dex_final=df_dex.loc[:,col_retain_dex]

In [7]:
print(df_nsfw.head(1))
df_nsfw.columns=['wordnet_id', 'mean_nsfw_train', 'mean_nsfw_val', 'std_nsfw_train', 'std_nsfw_val']
df_nsfw.head(1)

  Unnamed: 0  mean_nsfw_train  mean_nsfw_val  std_nsfw_train  std_nsfw_val
0  n02025239         0.011244       0.007649        0.042218      0.021405

  wordnet_id  mean_nsfw_train  mean_nsfw_val  std_nsfw_train  std_nsfw_val
0  n02025239         0.011244       0.007649        0.042218      0.021405

In [8]:
df_acc_1=pd.read_csv('./df_imagenet/df_acc_classwise_resnet50.csv')
df_acc_1.head(1)

,Unnamed: 0,mean_top1_train,mean_top1_val,mean_top5_train,mean_top5_val,pred_train,pred_val
0,n02025239,0.940769,0.96,0.983077,0.98,[139 139 139 ... 139 139 139],[140 139 139 139 139 139 139 139 139 139 139 1...

In [9]:
col_acc_1=['wordnet_id', 'mean_top1_train', 'mean_top1_val', 'mean_top5_train',
       'mean_top5_val', 'pred_train', 'pred_val']
col_acc_r50=[]
for col in col_acc_1:
    if(col!='wordnet_id'):
        col=col+'_r50'
    col_acc_r50.append(col)
df_acc_1.columns=col_acc_r50
df_acc_1.head(1)

,wordnet_id,mean_top1_train_r50,mean_top1_val_r50,mean_top5_train_r50,mean_top5_val_r50,pred_train_r50,pred_val_r50
0,n02025239,0.940769,0.96,0.983077,0.98,[139 139 139 ... 139 139 139],[140 139 139 139 139 139 139 139 139 139 139 1...

In [10]:
df_acc_2=pd.read_csv('./df_imagenet/df_acc_classwise_NasNet_mobile.csv')
df_acc_2.head(1)
df_acc_2.columns=['wordnet_id',
 'mean_top1_train_nnm',
 'mean_top1_val_nnm',
 'mean_top5_train_nnm',
 'mean_top5_val_nnm',
 'pred_train_nnm',
 'pred_val_nnm']
df_acc_2.head(1)

,wordnet_id,mean_top1_train_nnm,mean_top1_val_nnm,mean_top5_train_nnm,mean_top5_val_nnm,pred_train_nnm,pred_val_nnm
0,n02025239,0.946154,0.98,0.986923,0.98,[139 139 139 ... 139 139 139],[139 139 139 139 139 139 139 139 139 139 139 1...

In [11]:
df_umap=pd.read_csv('./df_imagenet/df_imagenet_names_umap.csv')
df_umap.columns=['class_number_umap', 'wordnet_id', 'label_renamed_glove', 'umap_x', 'umap_y']
df_umap.head(1)

   class_number_umap wordnet_id label_renamed_glove    umap_x    umap_y
0                  0  n01440764  tench, Tinca tinca  1.277791  8.856661

In [12]:
df_comb=df_inisghtface.merge(df_dex,on="wordnet_id").merge(df_nsfw,on="wordnet_id").merge(df_acc_1,on="wordnet_id").merge(df_acc_2,on="wordnet_id").merge(df_umap,on="wordnet_id")
df_comb.shape

(1000, 61)

# Sanity checks:

In [13]:
# Check if N_train in Dex matches with N_train in df_insight face:
err_1=np.sum(np.abs(df_comb.n_faceswithages_audit-df_comb.n_faceswithages_audit_2))
err_2=np.sum(np.abs(df_inisghtface.n_train-df_comb.n_train_audit))
err_3=np.sum(np.abs(df_inisghtface.n_train-df_comb.n_train_audit_2))
err_4=np.sum(np.abs(df_comb.n_train_audit-df_comb.n_train_audit_2))

err_5=(1-(df_comb.class_number==df_comb.class_number_umap).mean())
# I had manually changed the labels for 8 classes because of either duplicates 
err_6=(df_comb.label!=df_comb.label_renamed_glove).sum()

err_1,err_2,err_3,err_4,err_5,err_6

(0, 0, 0, 0, 0.0, 8)

# Final column selection:

In [14]:
list(df_comb.columns)

['class_number',
 'wordnet_id',
 'label',
 'uri',
 'n_train',
 'n_val',
 'n_humans_train',
 'n_humans_val',
 'Nunique_humans_train',
 'gender_skewness_train',
 'age_min_train',
 'age_max_train',
 'n_women_train',
 'mean_age_women_train',
 'std_age_women_train',
 'n_men_train',
 'mean_age_men_train',
 'std_age_men_train',
 'age_min_val',
 'age_max_val',
 'Nunique_humans_val',
 'gender_skewness_val',
 'n_women_val',
 'mean_age_women_val',
 'std_age_women_val',
 'n_men_val',
 'mean_age_men_val',
 'std_age_men_val',
 'age_min',
 'age_max',
 'n_faces_raw_audit',
 'n_faceswithages_audit',
 'n_train_audit',
 'mean_age_audit',
 'std_age_audit',
 'skew_age_audit',
 'n_faceswithages_audit_2',
 'n_train_audit_2',
 'mean_gender_audit',
 'std_gender_audit',
 'skew_gender_audit',
 'mean_nsfw_train',
 'mean_nsfw_val',
 'std_nsfw_train',
 'std_nsfw_val',
 'mean_top1_train_r50',
 'mean_top1_val_r50',
 'mean_top5_train_r50',
 'mean_top5_val_r50',
 'pred_train_r50',
 'pred_val_r50',
 'mean_top1_train_nnm',
 'mean_top1_val_nnm',
 'mean_top5_train_nnm',
 'mean_top5_val_nnm',
 'pred_train_nnm',
 'pred_val_nnm',
 'class_number_umap',
 'label_renamed_glove',
 'umap_x',
 'umap_y']

# Interpretations:

We have authored interpretations for each of the columns of the dataframe generated above.
Load the dataframe and verify if the columns spaces match.

In [15]:
df_interpret=pd.read_csv('./df_imagenet/df_census_columns_interpretation.csv')
df_interpret.shape

(61, 2)

In [16]:
(df_interpret.col_names_census==df_comb.columns).mean()

1.0

# Final export:

In [17]:
df_comb.to_csv('df_census_imagenet_61.csv',index=False)